[submodule "paml-check"]
	path = paml-check
	url = https://github.com/SD2E/paml-check/
[submodule "container-ontology"]
	path = container-ontology
	url = https://github.com/rpgoldman/container-ontology
