_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.DS_Store
.vscode/
build/
env/
examples/
notebooks/
owl_rdf_utils/
paml.egg-info/
paml/
paml_convert/
paml_jupyter/
paml_time/
pypaml.egg-info/
secrets/
test/
uml/
