/secrets/strateos_secrets.json
/.pytest_cache/
/env/
**/.ipynb_checkpoints
**/cluster*
**/__pycache__
notebooks/*md
pylabop.egg-info*
notebooks/out
notebooks/.*
.vscode
**/.DS_Store
build
_site
.jekyll-cache/
.sass-cache
*.gv.pdf
**/*gv
test_LUDOX_markdown.md
**/labop.egg-info/*
assets/
container-ontology
test/out
.env
out
.coverage
cov.xml
**/sample_graph_*
