/secrets/strateos_secrets.json
/.pytest_cache/
/env/
/paml.egg-info/
/notebooks/.ipynb_checkpoints/*
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
**/__pycache__
.DS_Store
notebooks/cluster_*
notebooks/out
